<div class="nav">
    <button routerLink="/paises">Listar Países</button>
</div>

<div class="caixa">
    <img src="https://cdn.pixabay.com/photo/2013/07/13/11/32/earth-158348_1280.png" align="left">
    <p>Este projeto foi desenvolvido para oferecer uma experiência interativa e educativa, permitindo aos usuários explorar informações detalhadas sobre diferentes países ao redor do mundo. Utilizando uma API de dados geográficos, a aplicação apresenta uma lista de países que, ao serem clicados, revelam informações detalhadas sobre cada um, como população, idioma, capital, bandeira e muito mais.</p>
    <br>
    <p>A interface foi pensada para ser simples e intuitiva, proporcionando uma navegação agradável e fluida. Ao escolher um país, você poderá explorar uma série de dados relevantes que tornam o aprendizado sobre o mundo mais acessível e interessante.</p>
    <br>
    <p>Este é um excelente ponto de partida para quem deseja conhecer melhor as nações do planeta e obter informações rápidas e precisas sobre qualquer lugar do mundo</p>
    <br>
    <p>Para começar a utilizar, clique na navegação acima, abaixo do título.</p>
</div>